<%# I'm going to create a partial....because this edit file is essentially going to be the same form that i created for the new.html.erb view... so I'm going to extract a 'partial' (partial view) from the new.html.erb...and then insert it here...

PARTIALS ALWAYS START WITH AN UNDERSCORE IN ERB/RAILS

 %>
 <h1>Edit The File</h1>
 <%= render partial: 'form'  %>