

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

img {
  width: 100%;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
}




#navBar {
  overflow: hidden;
  background-color: #333;
  padding: 45px 10px;
  transition: 0.4s;
}

#navBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#aboutMain + .sticky {
  padding-top: 60px;
}

#sampleHeader0 {

}