
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Michroma', sans-serif;
    scroll-behavior: smooth;
}

header {
    color: lightgray;
    background: lightslategray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 > a {
    text-decoration: none;
}

/* same as his about */
.about {
    display: flex;
    height: 300vh;
    margin: 0 !important;
}

/* same as his .about-title */
.main {
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.about-pages {
    width: 50%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.about-pages div > p {
    padding: 30px;
    font-size: 14px;
    line-height: 30px;
}

.about-pages div:nth-child(1) {
    background-color: bisque;
}
.about-pages div:nth-child(2){
    background-color: lightsalmon;
}
.about-pages div:nth-child(3){
    background-color: cornflowerblue;
}


footer {
    height: 100vh;
    background: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(5, 50px);
    gap: 15px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 20px 30px;
    border: 8px solid darkgray;
    position: absolute;
    background: gray;
}

.button {
    border: 3px solid white;
    background: whitesmoke;
    border: 3px inset lightgray;
    border-radius: 3px;
    padding: 12px;
}

.button:hover {
    box-shadow: 1px 5px 10px whitesmoke;
    background: white;
}

.shake {
    animation-name: click;
    animation-duration: 0.1s;
}

@keyframes click {
    0% {transform: scale(0.97) rotate(4deg)}
    50% {transform: scale(0.90)}
}



#screen {
    background: rgba(255,255,255,0.9);
    padding-right: 10px;
    border: white;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Press Start 2P';
    max-width: 320px;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: -1;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#enter {
    grid-column-start: 3;
    grid-column-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 4;
}